<config>

  <!-- See sample config: /usr/share/doc/fahclient/sample-config.xml -->

  <!-- Client Control 
       Don't fold anonymously, provide user info. -->
  <fold-anon v='true'/>

  <!-- Slot Control
       Options: light, medium or full
       Watch out for high load -->
  <power v='full'/>

  <!-- User Information
  <user v='IntrospectData'/>
  <team v='253518'/>

  <!-- Folding Slots -->
  <!-- Use all the CPUs
       Watch out for high load -->
  <slot id='0' type='CPU'/>

  <!-- Grant Remote Web Access
       access web UI at 127.0.0.1 -->
  <allow>127.0.0.1</allow>
  <web-allow>127.0.0.1</web-allow>

</config>

<!-- vim: set sw=2 ts=2: -->

